body {
    margin: 10px;
}

/* the "#" is used to define an ID to target the styling to a single element*/
#aboutSection {
    font-size: 30px;
}

#projectSection {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

/* the "." is used to define a class to target the styling to multiple elements */
.projectItem a {
    text-decoration: none;
    color: black;
}

.projectItem img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}